nav {
  display: flex;
  justify-content: flex-end;
}

nav a {
  margin: 10px 20px;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin: auto;
}

form input {
  margin: 10px 0;
}

.friends form {
  flex-direction: row;
  margin: 0;
}

.friends form input {
  margin: 0 10px;
}
