nav {
  display: flex;
  justify-content: flex-end;
}

nav a {
  margin: 10px 20px;
}

form {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin: auto;
}

form input {
  margin: 10px 0;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

footer {
  display: flex;
  align-self: baseline;
  flex-direction: row;
}

.movies-container {
  width: 90%;
  margin: auto;
}

.movie {
  display: flex;
  justify-content: space-between;
}
