---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/10719?api_key=DONT_EXPOSE_MY_DATA&append_to_response=credits
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 702d0d54284c3362babf6d6cba4b9c2f24af7827
      X-Memc-Age:
      - '3733'
      X-Memc-Expires:
      - '17867'
      Etag:
      - W/"94fae127c4307bdfc4ed791f7248ae98"
      Last-Modified:
      - Mon, 08 Feb 2021 16:59:09 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":"/yNr7tuh3Ka3XLaVniaDmt6wXUho.jpg","belongs_to_collection":null,"budget":32000000,"genres":[{"id":35,"name":"Comedy"},{"id":10751,"name":"Family"},{"id":14,"name":"Fantasy"}],"homepage":"","id":10719,"imdb_id":"tt0319343","original_language":"en","original_title":"Elf","overview":"When
        young Buddy falls into Santa''s gift sack on Christmas Eve, he''s transported
        back to the North Pole and raised as a toy-making elf by Santa''s helpers.
        But as he grows into adulthood, he can''t shake the nagging feeling that he
        doesn''t belong. Buddy vows to visit Manhattan and find his real dad, a workaholic
        publisher.","popularity":16.745,"poster_path":"/zDHFQmaxlTIJGQDfTrLTL9RK2tQ.jpg","production_companies":[{"id":12,"logo_path":"/iaYpEp3LQmb8AfAtmTvpqd4149c.png","name":"New
        Line Cinema","origin_country":"US"},{"id":2645,"logo_path":null,"name":"Guy
        Walks into a Bar Productions","origin_country":""}],"production_countries":[{"iso_3166_1":"US","name":"United
        States of America"}],"release_date":"2003-10-09","revenue":173398518,"runtime":97,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"This
        holiday, discover your inner elf.","title":"Elf","video":false,"vote_average":6.6,"vote_count":2755,"credits":{"cast":[{"adult":false,"gender":2,"id":23659,"known_for_department":"Acting","name":"Will
        Ferrell","original_name":"Will Ferrell","popularity":6.496,"profile_path":"/sXT9uCw7ceIxTdmL9XqtuYdNmgM.jpg","cast_id":1,"character":"Buddy","credit_id":"52fe43a89251416c7501900d","order":0},{"adult":false,"gender":2,"id":3085,"known_for_department":"Acting","name":"James
        Caan","original_name":"James Caan","popularity":7.131,"profile_path":"/bGyOCCOIgcIyKjOGLoXoyp0XWHf.jpg","cast_id":2,"character":"Walter","credit_id":"52fe43a89251416c75019011","order":1},{"adult":false,"gender":2,"id":64930,"known_for_department":"Acting","name":"Bob
        Newhart","original_name":"Bob Newhart","popularity":2.71,"profile_path":"/kOyxzZMzbCcXMddD17F8S33I3ZU.jpg","cast_id":3,"character":[...]
